.shortcut-info {
  display: flex;
  margin: 15px 20px;
}
.shortcut-info__column {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shortcut-info__column:nth-child(2) {
  width: 60%;
  align-items: flex-start;
  margin-left: 10px;
}
.shortcut-info__img {
  width: 70px;
  height: 70px;
  border-radius: 40%;
}
.shortcut-info__img--big {
  width: 90px;
  height: 90px;
}
.shortcut-info__img--small {
  width: 50px;
  height: 50px;
}
.shortcut-info__title {
  font-size: 24px;
  font-weight: 600;
}
.shortcut-info__subtitle {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.shortcut-info__column--horizontal {
  flex-direction: row;
  color: rgba(0, 0, 0, 0.4);
}
.shortcut-info__column--horizontal__text {
  font-size: 18px;
  font-weight: 500;
}
.shortcut-info__column--horizontal__icon {
  margin-left: 8px;
  position: relative;
  top: 2px;
}
.shortcut-info__column__time {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
}
.shortcut-info__column__count {
  margin-top: 10px;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: tomato;
  color: white;
  position: relative;
  right: -5px;
}
