#chatting {
  background-color: #abc1d1;
  position: relative;
  padding-top: 100px;
}
#chatting .status {
  position: absolute;
  width: 100%;
  top: 0px;
}
.chatting-header {
  position: absolute;
  width: 100vw;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  padding: 0px 20px;
}
.chatting-header__column:last-child i:first-child {
  margin-right: 10px;
}
.timestamp {
  padding: 10px;
  color: white;
  border-radius: 30px;
  background-color: #a2b7c6;
  width: 50%;
  margin: auto;
  text-align: center;
}
