.more__alarm {
  color: tomato;
}
.more__icon {
  font-size: 32px;
}
#more .icon-row {
  margin-top: 20px;
}
.icon-box--end {
  margin-right: auto;
  margin-left: 80px;
}
#more .subtitle-bar__text {
  color: black;
}
#more .img-row {
  padding: 0px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#more .img-row__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 50px;
}
#more .img-row__box div {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 10px;
}
#more .img-row__box:last-child div {
  background-color: rosybrown;
}
#more .img-row__box i {
  color: white;
  font-size: 32px;
}
#more .img-row__box span {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
