.welcome-header {
  margin: 75px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-header__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.welcome-header__subtitle {
  font-size: 18px;
  color: gray;
  text-align: center;
  line-height: 20px;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.login-form__input {
  width: 100%;
  padding: 25px 0px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
}
.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.login-form__input:focus {
  outline: none;
}
.login-form__btn {
  display: block;
  margin-top: 30px;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.5s ease-in-out;
}
.login-form__btn:last-of-type {
  margin-top: 15px;
}
.login-form__btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.login-form__find-account {
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}
